@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(36, 36, 36);
}

.container {
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    border: 2px solid #00ff7f;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.container header {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.input-field {
    width: calc(33.33% - 15px);
    display: flex;
    flex-direction: column;
}

.input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.input-field input,
.input-field select {
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: auto;
    padding-top: 20px;
}

.nextBtn, .backBtn, .submit-btn {
    background-color: #00ff7f;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.nextBtn:hover, .backBtn:hover, .submit-btn:hover {
    background-color: #04d36b;
}

.submit-btn:disabled {
    background-color: grey;
    color: #fff;
    cursor: not-allowed;
}

@media (max-width: 750px) {
    .input-field {
        width: calc(50% - 15px);
    }
}

@media (max-width: 550px) {
    .input-field {
        width: 100%;
    }
}