@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
    --color-fondo-body: rgb(36, 36, 36);
    --color-blanco: #ffffff;
    --color-verde: #00ff7f;
    --color-verde-oscuro: #026634;
    --color-verde-transparente: rgba(15, 170, 80, 0.856);
    --color-verde-planes: #03db6f;
    --color-verde-hover: #4a5c6a;
    --color-gris-texto: #e2e2e2;
    --color-gris-hover: #ccd0cf;
    --color-azul-oscuro: #253745;
    --color-azul-hover: #466354;
    --color-azul-gris: #4caf4f00;
    --color-negro-transparente: rgba(0, 0, 0, 0.397);
    --color-blanco-opaco: rgba(255, 255, 255, 0.5);
    --color-gris-oscuro: #243f35;
    --color-gris-sombra: rgba(0, 0, 0, 0.3);
    --color-gris-texto-tarjeta: #dadada;
    --color-verde-oscuro-hover: #444;
    --color-negro-opaco: rgba(0, 0, 0, 0.5);
    --color-blanco-transparente: rgba(255, 255, 255, 0.8);
    --color-rojo-hover: #83277b;
    --color-gris-claro: #636060;
    --color-plata-clara: #a8a8a8;
    --color-gris-barra: #3b3939;
   
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    background: rgb(36, 36, 36);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #ffffff;
}


/*Nav*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    letter-spacing: 0px;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 70px;
    width: auto;
   
}

.header .logo img:hover {
    transform: scale(1.2, 1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover,
.overlay a:hover {
    transform: scale(1.1);
}


.header .nav-links a {
    font-weight: 600;
    font-size: 700;
    color: var(--color-blanco);

}

.header .nav-links li a:hover {
    color: var(--color-verde-hover);
}

.menu {
    display: none;
}

.header .btn button,
.header .menu button {
    margin-left: 20px;
    font-weight: 700;
    color: #494a4b;
    padding: 9px 25px;
    background: var(--color-gris-texto);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover,
.header .menu button:hover {
    background-color: var(--color-gris-hover);
    color: var(--color-azul-oscuro);
    transform: scale(1.1);
}

@media screen and (max-width:800px) {

    .nav-links,
    .btn {
        display: none;
    }

    .menu {
        display: inherit;
    }
}

/* Navegación deplegable*/

.header a {
    text-decoration: none;
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--color-azul-oscuro);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #e4e4e4;
}

.header .overlay a:hover,
.header .overlay a:focus {
    color: var(--color-verde-hover);
}

.header .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height: 450px) {
    .header .overlay a {
        font-size: 20px;
    }

    .header .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

}


/*opciones*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;

    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    font-weight: 700;
    font-size: 10px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #444;
}

.edad{
    font-size: 20px;
    font-weight: 700;
    color: var(--color-blanco);
}


/*PLANES*/
.pricing-container {
    display: flex;
    gap: 20px;
    letter-spacing: 0;
    justify-content: center;
    justify-items: center;
    margin-top: 50px ;
    margin-bottom: 50px;
   
}
.pricing-card {
    background-color: #3b3939;
    border-radius: 10px;
    padding: 20px;
    width: auto;
}

.pricing-card:hover{
    border: 3px solid var(--color-verde);
}

@media  (max-width: 768px) {
    .pricing-container {
        display: block;

        
    }
    .pricing-card{
        margin-bottom: 50px;
       
    }
}

.plan-name {
    font-size: 17px;
    margin-bottom: 10px;
    color: #fff;
}
.plan-price {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #ffffff;
}
.plan-features {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
    color: #fff;

}
.plan-features li {
    margin-bottom: 20px;
    font-size: 15px;
}
.plan-features li::before {
    content: "+";
    color: var(--color-verde);
    margin-right: 5px;
}
.plan-features li.unavailable::before {
    content: "-";
    color: #ccc;
}
.unavailable{
    color: #a8a8a8;
}
@media  (max-width: 768px) {
    .plan-features {
        display: none;
        
    }
}
.subscribe-button {
    
    background-color: var(--color-verde-oscuro);
    border: none;
    color: white;
    padding: 10px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
  
}

.centrar-boton{
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.contenedor-plan {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0;
    margin-top: 50px;
}

.plan{
    color: #fff;
    font-weight: 500;
    font-size: 30px;

   
}
.logo-planes{
    width: 40px;
    padding-right: 10px;
}

.subtitu {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.subtitu span {
    font-size: 40px;
    display: block;
    color: var(--color-verde);
}

@media  (max-width: 768px) {
    .contenedor-plan{
        margin-left: 20px;
    }
    .subtitu{
        font-size: 38px;
    }
    .subtitu span{
        font-size: 34px;
    }
}


.contenedor-pago {
    margin: 10px 20px;
  margin-bottom: 50px;
}

.pago-letras {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.contenedor-logo-pago {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.letras {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 600;
    white-space: nowrap;
    color: var(--color-verde);
}

.logos {
    display: flex;
    align-items: center;
}

.logos img {
    height: 40px;
    margin: 0 5px;
}

